<div>
    <div class="sponsor-icon">
        <div>
            <a class="tooltips">
                <img class="founderimage" ng-src="{{ parameter.imgUrl }}">
                <span>{{parameter.name}}</span>
            </a>
        </div>
    </div>
    <div class="network-size-label">
        <div ng-hide="parameter.messenger" class="sponsor-mark"><img src="public/system/assets/img/kummi-sydan.png"></div>
        <div class="network-mark"><img src="public/system/assets/img/network-icon.png"> {{parameter.nSize}}</div>
    </div>
</div>