<div class="modal-header">
    <h3 class="modal-title">Ole mukana jakamassa hyvää!</h3>
</div>
<div class="modal-body">
    <div class="guide-element">
        <img src="public/system/assets/img/sydan-intro.png">

        <p> Tutustu SOS-toimintaan ja liity mukaan jakamaan hyvää!</p>

        <p> Liity kummiksi tai kutsu kavereitasi tutustumaan SOS-toimintaan verkoston avulla.</p>
    </div>
    <div class="guide-element">
        <img src="public/system/assets/img/suurennuslasi-intro.png">

        <p> Tutki palvelusta, miten tieto SOS-lapsikylistä leviää kartalla SOS-lapsikylien ystäväverkostojen kautta.</p>
    </div>
    <div class="guide-element">
        <img src="public/system/assets/img/verkosto-intro.png">

        <p> Jaa tietoa SOS-toiminnasta muodostamalla oma verkostosi ja seuraa omaa verkostoasi palvelussa. Kasvata
            verkostoasi jakamalla linkki sähköpostilla, Facebookissa tai Twitterissä.</p>
    </div>
</div>
<div class="modal-footer">
    <div ng-show="showMobileWarning" style="text-align:left;"><b> HUOM! Sivustoa ei ole tehty käytettäväksi
        mobiililaitteella. Tästä syystä suuri osa toiminnallisuudesta on pois käytöstä!</b></div>
    <button class="btn btn-custom btn-lg" ng-click="ok()">Aloita</button>
</div>